.room-form {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    padding-top: 16px;
}

.full-width {
    width: 100%;
    margin-bottom: 16px;
}

mat-dialog-content {
    padding: 0 24px;
}

mat-dialog-actions {
    padding: 16px 24px;
    margin: 0;
}

